.userheader {
  height: 400px;
  width: 100%;
  color: #FFFFFF;
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
 }

 
@media only screen and (min-width:1024px) {
  .userheader {
    margin-top: 250px;
    margin-left: 1.5em;
    width: 30%;
    float: left;
    position:sticky;
    top: 170px;
 }
}


